@font-face {
    font-family: 'montserratregular';
    src: url('./fonts/montserrat-regular-webfont.eot');
    src: url('./fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('./fonts/montserrat-regular-webfont.woff') format('woff'),
         url('./fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
}

body{
	font-family: 'montserratregular';
	background: #123e50;
	color: white;
}

header{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 10;
	background: #2c3e50;
}

header ul{
	margin: 0;
	padding-left: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

nav ul li{
	display: inline-block;
	margin-right: 10px;
}

nav ul li a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	opacity: 0.7;
}

nav ul li a:hover{
	opacity: 1;
}

.page{
	width: 100%;
	height: 100vh;
	position: relative;
	display: table;
}

.center-box{
	display: table-cell;
	vertical-align: middle;
}

h1{
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	color: white;
}

#inicio{
	text-align: center;
}

#inicio img{
	display: block;
	margin: 0 auto;
}

#inicio h2{
	text-align: center;
	margin-top: 0;
	margin-bottom: 40px;
	position: relative;
	display: inline-block;
	color: white;
}

#inicio h2 .amperson{
	display: inline-block;
	width: 22px;
	height: 27px;
	background-image: url(./images/amperson.svg);
	margin-left: 10px;
	margin-right: 10px;
}

.amperson{
	vertical-align: middle;
}

#inicio h2:hover::after{
	right: -70px;
}

#inicio h2:hover::before{
	left: -70px;
}

h2{
	animation-duration: 3s;
	animation-name: izquierda;
	-webkit-animation-izquierda: transition: all .2s ease-in;
	-ms-animation-izquierda: transition: all .2s ease-in;
	-o-animation-izquierda: transition: all .2s ease-in;
}

@keyframe izquierda{
	0%{
		transition: all .2s ease-in;
	}
	50%{
		transition: all .5s ease-in;
	}
	100%{
		transition: all .2s ease-in;
	}
}

#inicio h2::after,
#inicio h2::before{
	content: '';
	width: 70px;
	height: 1px;
	background:#fff;
	position: absolute;
	/*transition: all .2s ease-in;*/
}

#inicio h2::after{
	right: -85px;
	top: 15px;
}

#inicio h2::before{
	left: -85px;
	top: 15px;
}

.footer-inicio{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

#inicio .footer-inicio ul{
	margin:0;
	padding: 0;
	text-align: center;
	color: white;
	font-size: 18px;
}

#inicio .footer-inicio ul li{
	display: inline-block;
	margin-left: 10px;
}

form{
	width: 50%;
	margin:30px auto 0 auto;
}

.row-form input, .row-form textarea,
.row-form label{
	display: block;
	width: 100%;
	box-sizing: border-box;
}

.row-form label{
	color: white;
	text-decoration: none;
}

textarea{
	resize: none;
	height: 50px;
}

label{
	font-size: 18px;
	text-align: left;
}

form .row-form{
	margin-bottom: 10px;
}

input, textarea{
	border: 1px solid #D8D8D8;
	transition: border-bottom 1s linear;
	-webkit-transition: border-bottom 1s linear;
	-moz-transition: border-bottom 1s linear;
	-o-transition: border-bottom 1s linear;
	-ms-transition: border-bottom 1s linear;
}

input{
	margin-bottom: 35px;
}
input::-webkit-input-placeholder{
	color: #888484;
}
.row-form label{
	margin-bottom: 10px;
}

.row-form textarea{
	resize: none;
}

.row-form input,
.row-form textarea{
	padding: 8px;
	outline: none;
	border-radius: 5px;
	font-family: 'montserratregular';
}

.row-form input, .row-form textarea, 
.row-form label {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

form button {
	display: block;
	margin: 0 auto;
	margin-top: 30px;
	background: #2ecc71;
	border-radius: 5px;
	border:0px;
	color:white;
	font-size: 18px;
	padding: 10px;
	width: 80px;
	cursor: pointer;
}

button:hover{
	background: #27ae60;
}
































